<%- include("../layouts/header.ejs") %>

<div class="home-container">
    <h1>Welcome to Your Dashboard</h1>
    <form action="/logout" >
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>

<%- include("../layouts/footer.ejs") %>

